body{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,Arial,sans-serif;
    overflow-x:hidden;
    overflow-y: scroll;
}

.header{
    background-color:#98c5e9;
    width: 1365px;
    height: 96px;
    position: fixed;
    top: 0px;
    z-index: 2;
}
.items{
    width: 996px;
    height: 383px;
    background-color:rgb(17, 4, 49);
    position: absolute;
    left: 200px;
    top: 150px;
}
#photo{
    text-indent: 240px;
    padding: 10px;
}

.menu{
    display: flex;
    list-style-type:symbols(pointer);
    justify-content: space-around;
    margin: -70px 350px 0 290px; /*trên, phải, dưới, trái*/

}
ul li:hover{
    text-decoration: underline;
    color:  chocolate;
    cursor:pointer;
}
#menu2 button{
    background-color:#98c5e9;
    border:#98c5e9;
    display: flex;
    white-space: nowrap;
    margin: 7px 11px 0 11px;
}


#menu2{
    display: flex;
    margin: -30px 1000px 0 1000px;
}
img{
    vertical-align: text-bottom;
}
.items img{
    margin: 0px 350px 0 350px;
}

#videodemo{
    border-width: 400px;
    height: 400px;
    margin-top: 580px;
    margin-left: 200px;
    
    z-index: 1;
}
#tieudevideo{
    margin-top: 480px;
    margin-left: 200px;
    margin-bottom: -530px;
    font-weight: bold;
    text-shadow: 1px -1px 1px yellow;
}
#sexy {
    border-style: ridge;
    width: 265px;
    height: 300px;
    margin-left: 930px;
    margin-top: -400px;
}
#text1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.A{
    display: inline-flex;
}
.a{

    width: 60%;
}
/* .b{
  
} */
